.hero {
  --hero-image: image-set(
    url('/images/hero/hero-section-mobile.jpg') 1x,
    url('/images/hero/hero-section-mobile-2x.jpg') 2x
  );

  background-image:
    linear-gradient(
      88.94deg,
      rgba(0, 13, 3, 0.3) 55.83%,
      rgba(2, 50, 12, 0.12) 93.12%,
      rgba(102, 102, 102, 0) 120.48%
    ),
    var(--hero-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: calc(var(--header-height, 45px) + 100px);
  padding-bottom: 85px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.title {
  width: 100%;
  margin-bottom: 16px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 127%;
  color: var(--white);
  text-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.25);
}

.subtitle {
  width: 100%;
  margin-bottom: 117px;
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  text-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.25);
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 343px;
  padding: 16px 113px;
  font-weight: 600;
  font-size: 16px;
  line-height: 138%;
  color: var(--white);
  background: var(--button);
  border: 1px solid var(--background-2);
  border-radius: 16px;
  box-shadow: 4px 4px 16px 0 rgba(1, 73, 61, 0.4);
  transition: background 0.3s ease;
}

.cta:hover {
  background: var(--background-4);
}

@media (min-width: 834px) {
  .hero {
    --hero-image: image-set(
      url('/images/hero/hero-section-tablet.jpg') 1x,
      url('/images/hero/hero-section-tablet-2x.jpg') 2x
    );

    padding-top: calc(var(--header-height, 45px) + 231px);
    padding-bottom: 513px;
  }

  .title {
    max-width: 711px;
    font-size: 36px;
    line-height: 128%;
  }

  .subtitle {
    max-width: 417px;
    margin-bottom: 103px;
    font-size: 24px;
  }

  .cta {
    max-width: 232px;
    padding: 16px 44px;
  }
}

@media (min-width: 1440px) {
  .hero {
    --hero-image: image-set(
      url('/images/hero/hero-section-desktop.jpg') 1x,
      url('/images/hero/hero-section-desktop-2x.jpg') 2x
    );

    padding-top: calc(var(--header-height, 45px) + 173px);
    padding-bottom: 182px;
  }

  .title {
    max-width: 974px;
    font-size: 48px;
    line-height: 129%;
  }

  .subtitle {
    max-width: 608px;
    margin-bottom: 72px;
  }
}
