*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

html,
body {
  width: 100%;
}

body {
  min-height: 100vh;
}

img,
picture {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

button {
  font: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-inline: 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    padding-inline: 40px;
  }
}
